body {
    background: linear-gradient(135deg, #59c7e8, #eebeff, rgba(211, 162, 226, 0.72), #94afef, #de9090, rgba(252, 188, 86, 0.58));
    margin: 0;
    height: auto;
}
.panel{
    height: auto;
    display: flex;
    justify-content: space-between;
}
.panel-2{
    margin-right: 100px;
    margin-top: 15px;
}
.title {
/*    font-size: 42px;*/
    margin-top: 160px;
    font-family: Lobster, sans-serif;
    line-height: 40px;
    margin-left: 80px;
    text-shadow: 1px 5px 5px rgb(101, 101, 101);
}
.Wonder-Phone {
    font-family: Train One;
/*    font-size: 42px;*/
    text-decoration: underline;
    color: rgba(93, 93, 93, 0.83);
    white-space: nowrap;
    transition-duration: 1s;
    margin-left: 70px;
    
}
.Wonder-Phone:hover{
    color: #ffc474;
}
.main { 
    display: inline-block;
    display: flex;
/*    justify-content: space-between;*/
}
.PHOTO {
    margin-top: 115px;
    margin-right: 100px;
}
.profile {
    text-decoration: none;
    color: rgba(93, 93, 93, 0.83);
    font-family: Merriweather;
    margin-top: 0px;
    font-size: 24px;
    
}
.profile:hover {
    color: aliceblue;
}
.more {
    margin-left: 150px;
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: #ffc474;
    border-radius: 30px;
    display: flex;
    font-size: 30px;
    font-family: Marck Script;
    justify-content: center;
    transition-duration: 2s;
    transition-property: all;
    animation-iteration-count: infinite;
    animation-name: myAnimation;
    animation-duration: 5s;
}
.more:hover {
    transform:scale(1.2);
}
.o_nas{
    text-decoration: none;
    color: rgba(93, 93, 93, 0.83);
    font-family: Merriweather;
    font-size: 24px;
    margin-right: 30px;
}

.o_nas:hover {
    color: aliceblue;
}
.contact {    
    text-decoration: none;
    color: rgba(93, 93, 93, 0.83);
    font-family: Merriweather;
    margin-right: 30px;
    font-size: 24px;
}
.contact:hover {
    color: aliceblue;
}
.stocks {
    text-decoration: none;
    color: rgba(93, 93, 93, 0.83);
    font-family: Merriweather;
    font-size: 24px;
    margin-right: 30px;
}
.stocks:hover {
    color: aliceblue;
}
@keyframes myAnimation {
    from{
        background-color: #ffc474;
    }
     50% {
         background-color: #ff9403;
         transform:scale(1.3);
    }
    to{
        background-color: #ffc474;
    }  
}
.page-2{
    display: flex;
/*    justify-content: space-between;*/
}
/*
.page-2-2{
    width: 1060px;
}
*/
.text-1 {
    font-family: Cormorant Unicase; 
}
.text-2 {
    font-family: Shantell Sans;
    font-size: 26px;
    border: 7px dashed black;
    background-color: rgba(255, 196, 116, 0);
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
/*    justify-content: space-between;*/
}
.text-3 {
    font-family:Caveat;
    border: 10px outset black;
    background-color: rgba(203, 152, 84, 0);
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
}
.photo-2 {
/*
    margin-top: -20px;
    max-height: 250px;
    margin-left: 220px;
*/
}
.page-3 {
    display: flex;
/*    justify-content: space-between;*/
}
.page-3-2 {
    width: 1000px;
}
.text-4 {
    font-family: Bad Script; 
    text-align:center;
}
.logotips-1{
    display: flex;
/*    justify-content: space-between;*/
}

.logotips-2{
    display: flex;
/*    justify-content: space-between;*/
}

.vibor{
    display:flex;
    width: auto;
/*    justify-content: space-between;*/
}
.text-5{
    font-family: Rubik Doodle Shadow;
}
.text-6{
    font-family:Caveat;
    font-size: 36px;
    color: black;
    border: 10px double black;
    background-color: #daccff;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}
.a-6{
    text-decoration: none;
}
.text-6-2{
    font-size: 24px;
    text-align: left;
}
.vibor-1{
    transition-duration: 1s;
}
.vibor-1:hover {
    transform:scale(1.1);
}
.text-7{
    font-family:Caveat;
    font-size: 36px;
    color: black;
    border: 10px double black;
    background-color: #daccff;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}
.a-7{
    text-decoration: none;
}
.text-7-2{
    font-size: 24px;
    text-align: left;
}
.vibor-2{
    transition-duration: 1s;
}
.vibor-2:hover {
    
    transform:scale(1.1);
}
.text-8{
    font-family:Caveat;
    font-size: 36px;
    color: black;
    border: 10px double black;
    background-color: #daccff;
    justify-content: center;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}
.a-8{
    text-decoration: none;
}
.text-8-2{
    font-size: 24px;
    text-align: left;
}
.vibor-3{
    transition-duration: 1s;
}
.vibor-3:hover {
    transform:scale(1.1);
}
.page-5 {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.72);
}
.cont{
    display: flex;
}
.text-9 {
    color: #969696;
/*    margin-left: 120px;*/
}
.text-10{
    color: #969696;
    margin-left: 100px;
    margin-top: 30px;
}
.mail{
    color: #969696;
    margin-left: 100px;
    margin-top: 30px;
}
.copyright{
    color: #969696;
    margin-top: 25px;
    margin-left: 700px; 
}
.Avito{
    color: #969696;
    margin-left: 100px;
    margin-top: 30px;
}


////////////////////////////////////////////////////////////////////
@media screen and (min-width: 300px) and (max-width: 320px) {
    header{
        display: table;
    }
    .Wonder-Phone{
        color: aqua;
        font-size: 20px;
    }
    .profile{
        font-size: 10px;
    }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
    .Wonder-Phone{
        font-size: 18px;  
        margin-left: 30px;
    } 
    .profile{
        font-size: 10px;
    }
}
@media screen and (min-width: 376px) and (max-width: 425px) {
    .Wonder-Phone{
        font-size: 25px;
        margin-left: 31px;
    }
    .profile{
        font-size: 10px;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .Wonder-Phone{
        font-size: 48px;
        
    }
    .profile{
        font-size: 10px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1050px) {
    .Wonder-Phone{
        font-size: 30px;
    }
    .o_nas{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
    .profile{
        font-size: 15px;
    }
    .stocks{
        font-size: 15px;
    }
    .title{
        font-size: 22px;
        width: 300px;
        margin-top: 120px;
        margin-left: 100px;
        line-height: 30px;
    }
    .more{
        margin-top: 60px;
        width: 120px;
        height: 20px;
        margin-left: 150px;
        margin-top: 80px;
        font-size: 15px;
    }
    .PHOTO{
        width: 455px;
        margin-left: 50px;
        margin-top: 130px;
    }
    .text-1{
        font-size: 24px;
        margin-top: 30px;
        margin-left: 100px;
    }
    .photo-2 {
    margin-top: 20px;
    margin-left: 200px;
    width: 200px;
    height: 150px;
    }
    .text-2{
    margin-top: 80px;
    margin-right: 50px;
    width: 330px;
    height: 250px;
    font-size: 17px;
    }
    .text-3{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 22px;
    width: 370px;
    height: 245px;
    }
    .photo-3 {
    width: 230px;
    height: 230px;
    margin-left: 120px;
    }
    .text-4{
    font-size: 32px;
    margin-top: 30px;
    margin-left: 0px;
    }
    .text-3-2{
        width: 1024px;
    }
    .Slogo{
    width: 150px;
    height: 150px;
    margin-left: 100px;
    margin-top: 10px;
    }
    .Alogo{
    width: 70px;
    height: 70px;
    margin-left: 75px;
    margin-top: 45px;
}
    .Hlogo{
    width: 70px;
    height: 70px;
    margin-top: 60px;
    margin-left: 75px;
}
    .Xlogo{
    width: 70px;
    height: 70px;
    margin-top: 55px;
    margin-left: 75px;
}
    .Rlogo{
    max-width: 150px;
    max-height: 40px;
    margin-left: 75px;
    margin-top: 68px;
}
    .Honorlogo{
    width: 150px;
    height: 80px;
    margin-left: 200px;
    margin-top: 0px;
}
    .Ologo{
    width: 150px;
    height: 30px;
    margin-left: 50px;
    margin-top: 28px;
}
    .Vlogo{
    width: 130px;
    height: 130px;
    margin-left: 50px;
    margin-top: -30px;
}
    .OnePluslogo {
    width: 60px;
    height: 60px;
    margin-left: 50px;
    margin-top: 7px;
}
    .text-5{
    font-size: 35px;
    margin-top: 30px;
    margin-left: 100px;
    }
    .vibor-1{
    margin-left: 55px;
    }
    .text-6{
    width: 205px;
    height: 145px;
    font-size: 24px;
    }
    .text-6-2{
    font-size: 16px;
    }
    .vibor-2{
    margin-top: 0px;
    margin-left: 40px;
    }
    .text-7{
    width: 235px;
    height: 145px;
    font-size: 24px;
    }
    .text-7-2{
    font-size: 16px;
    }
    .vibor-3{
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 50px;
    }
    .text-8{
    width: 205px;
    height: 145px;
    font-size: 24px;
    }
    .text-8-2{
    font-size: 16px;
    }
    .text-9 {
    margin-left: 120px;
    font-size: 32px;
    }
    .cont{
    font-size: 16px;
    }
    .copyright{
    font-size: 14px;
    margin-left: 480px;
    }
}
@media screen and (min-width: 1051px) and (max-width: 1600px) {
    .Wonder-Phone{
        font-size: 250%;
        margin-left: 90px;
    }
    .o_nas{
        font-size: 20px;
    }
    .contact{
        font-size: 20px;
    }
    .profile{
        font-size: 20px;
    }
    .stocks{
        font-size: 20px;
    }
    .panel-2{
        margin-left: 50px;
        margin-top: 15px;
    }
    .title{
        font-size: 42px;
        width: 450px;
        margin-left: 100px;
        margin-top: 160px;
        line-height: 40px;
    }
    .more{
        margin-top: 60px;
        width: 220px;
        height: 40px;
        margin-left: 150px;
        margin-top: 70px;
    }
    .PHOTO{
        width: 805px;
        margin-left: 30px;
        margin-top: 130px;
    }
    .text-1{
        font-size: 40px;
        margin-top: 30px;
        margin-left: 100px;
    }
    .photo-2 {
    margin-top: 0px;
    margin-left: 230px;
    width: 350px;
    height: 250px;
    }
    .text-2{
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 0px;
    width: 500px;
    height: 350px;
    font-size: 26px;
    }
    .text-3{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 32px;
    width: 600px;
    height: 330px;
    }
    .photo-3 {
    width: 350px;
    height: 350px;
    margin-left: 120px;
    }
    .text-4{
    font-size: 40px;
    margin-top: 30px;
    margin-left: 150px;
    }
    .Slogo{
    width: 200px;
    height: 200px;
    margin-left: 200px;
    }
    .Alogo{
    width: 100px;
    height: 100px;
    margin-left: 75px;
    margin-top: 45px;
}
    .Hlogo{
    width: 100px;
    height: 100px;
    margin-top: 60px;
    margin-left: 75px;
}
    .Xlogo{
    width: 100px;
    height: 100px;
    margin-top: 55px;
    margin-left: 75px;
}
    .Rlogo{
    max-width: 200px;
    max-height: 50px;
    margin-left: 75px;
    margin-top: 80px;
}
    .Honorlogo{
    width: 200px;
    height: 110px;
    margin-left: 350px;
    margin-top: -4px;
}
    .Ologo{
    width: 170px;
    height: 40px;
    margin-left: 50px;
    margin-top: 35px;
}
    .Vlogo{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: -30px;
}
    .OnePluslogo {
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-top: 10px;
}
    .text-5{
    font-size: 44px;
    margin-top: 30px;
    margin-left: 170px;
    }
    .vibor-1{
    margin-left: 80px;
    }
    .text-6{
    width: 305px;
    height: 215px;
    font-size: 34px;
    }
    .text-6-2{
    font-size: 26px;
    }
    .vibor-2{
    margin-top: 0px;
    margin-left: 70px;
    }
    .text-7{
    width: 355px;
    height: 215px;
    font-size: 34px;
    }
    .text-7-2{
    font-size: 26px;
    }
    .vibor-3{
    margin-top: 0px;
    margin-left: 70px;
    margin-right: 50px;
    }
    .text-8{
    width: 305px;
    height: 215px;
    font-size: 34px;
    }
    .text-8-2{
    font-size: 26px;
    }
    .text-9 {
    margin-left: 120px;
    font-size: 40px;
    }
    .cont{
    font-size: 20px;
    }
    .copyright{
    font-size: 18px;
    margin-left: 700px;
    }
}
@media screen and (min-width: 1601px) and (max-width: 2560px) {
    .Wonder-Phone{
        font-size: 300%;
        margin-left: 200px;
    }
    .o_nas{
        font-size: 30px;
    }
    .contact{
        font-size: 30px;
    }
    .profile{
        font-size: 30px;
    }
    .stocks{
        font-size: 30px;
    }
    .panel-2{
        margin-left: 1000px;
    }
    .title{
        font-size: 60px;
        width: 700px;
        margin-top: 300px;
        margin-left: 150px;
        line-height: 70px;
    }
    .more{
        margin-top: 60px;
        width: 250px;
        height: 40px;
        margin-left: 300px;
        margin-top: 80px;
    }
    .PHOTO{
        width: 1305px;
        margin-left: 150px;
        margin-top: 150px;
    }
    .text-1{
        font-size: 70px;
        margin-top: 30px;
        margin-left: 250px;
    }
    .photo-2 {
    margin-top: 0px;
    margin-left: 450px;
    width: 500px;
    height: 380px;
    }
    .text-2{
    margin-top: 150px;
    margin-right: 170px;
    width: 1000px;
    height: 580px;
    font-size: 48px;
    }
    .text-3{
    margin-top: 20px;
    margin-left: 250px;
    font-size: 54px;
    width: 1000px;
    height: 550px;
    }
    .photo-3 {
    width: 550px;
    height: 500px;
    margin-left: 250px;
    }
    .text-4{
    font-size: 70px;
    margin-top: 30px;
    margin-left: 600px;
    }
    .Slogo{
    width: 300px;
    height: 300px;
    margin-left: 400px;
    }
    .Alogo{
    width: 150px;
    height: 150px;
    margin-left: 160px;
    margin-top: 55px;
}
    .Hlogo{
    width: 150px;
    height: 150px;
    margin-top: 60px;
    margin-left: 160px;
}
    .Xlogo{
    width: 150px;
    height: 150px;
    margin-top: 55px;
    margin-left: 160px;
}
    .Rlogo{
    max-width: 350px;
    max-height: 80px;
    margin-left: 160px;
    margin-top: 90px;
}
    .Honorlogo{
    width: 300px;
    height: 170px;
    margin-left: 570px;
}
    .Ologo{
    width: 270px;
    height: 60px;
    margin-left: 100px;
    margin-top: 55px;
}
    .Vlogo{
    max-width: 250px;
    margin-left: 100px;
    margin-top: -55px;
}
    .OnePluslogo {
    max-width: 130px;
    height: 130px;
    margin-left: 100px;
}
    .text-5{
    font-size: 60px;
    margin-top: 30px;
    margin-left: 300px;
    }
    .vibor-1{
    margin-left: 300px;
    }
    .text-6{
    width: 500px;
    height: 300px;
    font-size: 46px;
    }
    .text-6-2{
    font-size: 32px;
    }
    
    .vibor-2{
    margin-top: 0px;
    margin-left: 150px;
    }
    .text-7{
    width: 500px;
    height: 300px;
    font-size: 46px;
    }
    .text-7-2{
    font-size: 32px;
    }
    .vibor-3{
    margin-top: 0px;
    margin-left: 150px;
    margin-right: 50px;
    }
    .text-8{
    width: 500px;
    height: 300px;
    font-size: 46px;
    }
    .text-8-2{
    font-size: 32px;
    }
    .text-9 {
    margin-left: 120px;
    font-size: 60px;
    }
    .cont{
        font-size: 30px;
    }
    .copyright{
        font-size: 24px;
        margin-left: 1250px;
    }
}
@media screen and (min-width: 2561px) and (max-width: 3000px) {
    .Wonder-Phone{
        font-size: 80px;
    }
    .o_nas{
        font-size: 60px;
    }
    .contact{
        font-size: 60px;
    }
    .profile{
        font-size: 60px;
    }
    .stocks{
        font-size: 60px;
    }
    .panel-2{
        margin-left: 100px;
    }
    .more{
        margin-top: 100px;
        width: 300px;
        height: 40px;
        margin-left: 220px;
    }
    .PHOTO{
        width: 1500px;
        margin-left: 400px;
    }
    .text-1{
        font-size: 70px;
        margin-top: 30px;
        margin-left: 230px;
    }
    .photo-2 {
    margin-top: 0px;
    margin-left: 500px;
    width: 700px;
    height: 500px;
    }
    .text-2{
    margin-top: 150px;
    margin-right: 200px;
    width: 800px;
    height: 800px;
    font-size: 48px;
    }
    .text-3{
    margin-top: 20px;
    margin-left: 300px;
    font-size: 54px;
    width: 1000px;
    height: 550px;
    }
    .photo-3 {
    width: 100px;
    height: 100px;
    margin-left: 180px;
    }
    
}